<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vineeth.test.com.testapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >



        <activity android:name=".FlashActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".TestAlarmMain" />

        <activity android:name=".storage.StorageMain" />
        <activity android:name=".storage.FOSExample" />
        <activity android:name=".storage.FISExample" />
        <activity android:name=".storage.FIOSCopyImage" />
        <activity android:name=".storage.BIOSCopyImage" />

        <activity android:name=".RedirectActivity" />

        <activity android:name=".media.MediaPlayerActivity" />
        <activity android:name=".media.VideoPlayer" android:screenOrientation="fullUser" />
        <activity android:name=".media.MediaRecorderActivity" />
        <activity android:name=".media.CameraMainActivity" />
        <activity android:name=".media.ExoPlayerExample" />
        <activity android:name=".media.ExoPlayerDashExample" />
        <activity android:name=".storage.PIOSExample" />


        <service android:name=".service_example.TestService" />

        <service android:name=".alarm_example.TestService" />

        <receiver android:name=".alarm_example.AlarmReceiver" >
            <intent-filter>
                <action android:name="vineeth.test.com.testapp.alarm_example.AlarmReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".tts.TextToSpeechMain" />

        <receiver android:name=".phone_state.PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <provider android:authorities="vineeth.test.com.testapp.provider" android:name="androidx.core.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true" >

        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provide_paths" />
        </provider>

        <activity android:name=".sensors.AccelometerSesorEx" />

        <activity android:name=".canvas.CanvasExample" />

        <activity android:name=".camera_api.CameraApiExample"
        android:screenOrientation="landscape"/>

        <activity android:name=".camera_api.Camera2ApiExample" />
        <service android:name=".camera_api.Camera2ApiService"/>

        <activity android:name=".HandlerTest" />

        <activity android:name=".speech_to_text.SpeechRecognizerMainActivity" />
        <service android:name=".speech_to_text.SpeechRecgService" />

        <!-- socket programming example -->
        <activity android:name=".socket_prog.ServerClass" />
        <activity android:name=".socket_prog.ClientClass" />

        <!-- material design -->
        <activity android:name=".material_design_ex.FloatingActionButtonEx" />

        <activity android:name=".material_design_ex.tab_ex.TabLayoutExMain" />

        <activity android:name=".material_design_ex.CollapsableToolBar" />

        <activity android:name=".inheritance.Child" />
        <activity android:name=".inheritance.Parent" />

        <activity android:name=".material_design_ex.bottom_sheets.PersistantBottomSheetsEx" />

        <activity android:name=".drawable_ex.DrawableEx" />

        <activity android:name=".material_design_ex.tab_ex.BottomNavigationViewEx"
                android:supportsPictureInPicture="true" >
            <layout android:defaultHeight="500dp"
                    android:defaultWidth="600dp"
                    android:gravity="top|end"
                    android:minHeight="100dp"
                    android:minWidth="100dp" />
        </activity>

        <activity android:name=".data_binding.DisplayUserDetails" />

       <activity android:name=".retro_fit_ex.DisplayPhotos" />

      <activity android:name=".TestServiceMain" />

        <activity android:name=".MainFragment" />
        <activity android:name=".kt_example.FirstKotlin" />
        <activity android:name=".kt_example.KotlinMainActivity" />

        <activity android:name=".room_db_ex.UserActivity" />

    </application>

</manifest>